 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 :root {
     --coffee: #603809;
     --white: #fff;
     --button: #f9c06a;
     --dark-grey: #707070;
     --off-white: #fff9f1;
     --grey: #d9d9d9;
     --dark--brown: #442808;
 }

 header {
     padding: 1rem;
     margin-bottom: -100px;
 }

 header .container {
     max-width: 1180px;
     width: 100%;
     /* padding-top: 4rem; */
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     align-items: center;
 }

 .logo {
     width: 100%;
 }

 .logo img {
     width: 34%;
     max-width: 139px;
 }


 .nav-list {
     width: 100%;
 }

 .nav-list ul {
     display: flex;
     justify-content: space-between;
     color: var(--white);
 }

 .nav-list ul li {
     list-style-type: none;
 }

 .nav-list ul a {
     color: var(--white);
     text-decoration: none;

 }

 .nav-list ul a:hover,
 .nav-list ul a:focus {
     border-bottom: 1px solid var(--white);
     padding-top: 1rem;
 }

 .button-lists {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 3rem;
     color: var(--white);
 }

 .hero-link {
     padding: 1rem;
     border: 1px solid var(--button);
     background: var(--button);
     color: #000;
     border-radius: 30px;
     text-decoration: none;
 }

 .hero {
     width: 100%;
     max-width: 1180px1;
     height: 50vw;
     background: url(./assets/coffee_image.png) no-repeat center center/cover;
 }

 .hero-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
 }

 .hero-items {
     display: flex;
     width: 44%;
     flex-direction: column;
    padding-top: 20rem;
     gap: 4rem;
     align-items: flex-start;
     
 }

  .hero-items .highlight {
    font-family: "Clicker Script", cursive;
    color: var(--white);
    font-weight: 700;
    font-size: 13.75rem;
  }

 .hero-items .hero_description {
     line-height: 1rem;
  }