 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 :root {
     --coffee: #603809;
     --white: #fff;
     --button: #f9c06a;
     --dark-grey: #707070;
     --off-white: #fff9f1;
     --grey: #d9d9d9;
     --dark--brown: #442808;
 }
/* =======
Typography ======== */
h1 {
    color: var(--white);
}
h2 {
    color: var(--coffee);
    font-weight: 700;
    font-family: "Playfair Display";
    font-size: 4.2rem;
}

h4 {
    color: var(--coffee);
    font-weight: 700;
    font-family: "Playfair Display";
    font-size: 1.75rem;
}

p {
    font-family: "Playfair Display";
    color: #707070;
    font-size: 1.26rem;
    
}

.discover-the-best-coffee-description {
    color: var(--dark-grey);
    font-family: "Playfair Display";
    line-height: 2;

}

 header {
     padding: 1rem;
     margin-bottom: -100px;
 }

 header .container {
     max-width: 1180px;
     width: 100%;
     /* padding-top: 4rem; */
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     align-items: center;
 }

 .logo {
      flex: 1 1 auto;
 }

 .logo img {
     flex: 0 0 135px;
 }


 .nav-list {
    flex: 1 0 auto;
 }

 .nav-list ul {
     display: flex;
     justify-content: space-between;
     color: var(--white);
 }

 .nav-list ul li {
     list-style-type: none;
 }

 .nav-list ul a {
     color: var(--white);
     text-decoration: none;

 }

 .nav-list ul a:hover,
 .nav-list ul a:focus {
     border-bottom: 1px solid var(--white);
     padding-top: 1rem;
 }

 .button-lists {
    flex: 1 0 auto;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 3rem;
     color: var(--white);
 }

 .hero-link {
     padding: 1rem;
     border: 1px solid var(--button);
     background: var(--button);
     color: #000;
     border-radius: 30px;
     text-decoration: none;
 }

 .hero {
     width: 100%;
     max-height: 768px;
     height: 50vw;
     background: url(./assets/coffee_image.png) no-repeat center center/cover;
     display: flex;
    align-items: center;
 }

 .hero-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
 }

 .hero-items {
     display: flex;
     width: 44%;
     flex-direction: column;

     gap: 2rem;
     align-items: flex-start;
     
 }

  .hero-items .highlight {
    font-family: "Clicker Script", cursive;
    color: var(--white);
    font-weight: 700;
    font-size: 13.75rem;
  }

 .hero-items .hero_description {
     line-height: 2.21rem;
     color: var(--white);
  }


  /* second section */

.discover-the-best-coffee-section {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    background: #FFFEFC;
       
   
}

.discover-the-best-coffee-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

}



.discover-the-best-coffee-items {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}


 .discover-the-best-coffee-image {
    width: 50%;
   
}

.discover-the-best-coffee-image img {
     aspect-ratio: 1/1;
     width: 100%;
     object-fit: contain;
}

/* third section */

.new-blend-of-coffee-section {
    position: relative;
  
   

}

.item-container {
      max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.coffee-splash-left {
    width: 28%;
    max-width: 376px;
    position: absolute;
    bottom: 78%;
    z-index: 0;
}

.new-blend-of-coffee-title {
    padding-top: 2rem;
    text-align: center;
}

.new-blend-of-coffee-description {
    text-align: center;
    padding: 1rem 0;
    
}

.card-container {
    width: 100%;
    display: flex;
  
    justify-content: space-between;
    gap: 2rem;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24%;
}

.card-image {

    width: 100%;
    aspect-ratio: 280 / 222;
    object-fit: contain;

}

.card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(249, 192, 106, 0.1 );
    width: 100%;
    border-top: 0;
    border-right: 1px solid rgba(249, 192, 106, 1);
    border-left: 1px solid rgba(249, 192, 106, 1);
    border-bottom: 1px solid rgba(249, 192, 106, 1);
}

.card-items > .hero-link {
    transform: translateY(50%);
}

/* fourth section - why we are different */
.why-are-we-different-section {
    padding-top: 4rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative;
}

.coffee-splash-right {
    width: 27%;
    max-width: 373px;
    position: absolute;
    left: 75%; 
    bottom: 80%;
    z-index: 0;
}

.card-container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.why-are-we-different-description {
    padding: 1rem 0;
}

.why-we-are-different-description {
    padding: 1rem 0;
}

.why-are-we-different-section > .card-container > .card-item {
    padding: 1rem;
    background-color: #FFEED8;
    
}

.why-are-we-different-section > .card-container > .card-item > .icon {
    width: 30%;
    height: 88px;
    mix-blend-mode: multiply;
    object-fit: contain;
}

.icon-title {
    padding-bottom: 1rem;
}